
/*
     FILE ARCHIVED ON 00:35:36 Jan 13, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:19:32 Apr 25, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 24.872 (3)
  esindex: 0.01
  captures_list: 59.846
  CDXLines.iter: 13.546 (3)
  PetaboxLoader3.datanode: 56.137 (5)
  exclusion.robots: 0.203
  exclusion.robots.policy: 0.19
  RedisCDXSource: 17.735
  PetaboxLoader3.resolve: 27.862
  load_resource: 119.911
*/